extends ../layout 
block content
    -if (user)
        h1.pageheader Welcome, #{user.name}
        -if (user.userType == "Educator")
            a(href="/students")
                .card.flex-left
                    .left.flex-center(style="text-align:left")
                        i.fa-solid.fa-graduation-cap.card-icon
                    .right
                        h1.card-header Students
                        p.text View and add new students.
        a(href="/challenge")
            .card.flex-left
                .left
                    img.brain(src="images/brain-inverse-svg.svg")
                .right
                    h1.card-header Take Test
                    p.text Click here to take the computational thinking test.
        a(href="/results")
            .card.flex-left
                .left(style="text-align:center")
                    i.fa-solid.fa-file-lines.card-icon
                .right
                    h1.card-header View Results
                    p.text View all your previous test results.
        -if (user.userType == "Student")
             a(href="/students/educator")
                .card.flex-left
                    .left.flex-center(style="text-align:left")
                        i.fa-solid.fa-graduation-cap.card-icon
                    .right
                        h1.card-header Educator
                        p.text Add an educator so they can see your results.

    -else
        h1.pageheader Welcome
        a(href="/auth/login")
            .card.flex-left
                .left.flex-center(style="text-align:left")
                    i.fa-solid.fa-right-to-bracket.card-icon
                .right
                    h1.card-header Login
                    p.text Already have an account? Click here to login.
        a(href="/auth/register")
            .card.flex-left
                .left.flex-center(style="text-align:left")
                    i.fa-solid.fa-user-plus.card-icon
                .right
                    h1.card-header Register
                    p.text New? Click here to register a new account.
    
    
    a(href="/about")
        .card.flex-left
            .left.flex-center(style="text-align:left")
                i.fa-solid.fa-circle-question.card-icon
            .right
                h1.card-header About
                p.text View our about page.