extends ../layout
block content 
    script(src="/javascripts/challenges.js" defer)
    h1.pageheader Take test
    .challenge-container#challenge-container
        #air-con 
            +airConditioning()
        #crash 
            +dontCrash()
        #fountains 
            +royalFountains()
        #desks 
            +deskTrouble
        #endscreen 
            +endScreen()
        #startscreen 
            +startScreen()
