extends ../layout
block content 
    h1.pageheader Test results 
    .card
        p Your results have been saved.
        p#date
        p.percentage#percentage(style="text-align: left")
        p#score
    