extends ../layout
block content 
    h1.pageheader Take test
    .challenge-container#challenge-container
        #air-con 
            +airConditioning()
        #crash 
            +dontCrash()
        #fountains 
            +royalFountains()
        #endscreen 
            +endScreen()
        #startscreen 
            +startScreen()
