extends ../layout
block content 
    h1.pageheader=title 
    .card
        h2.card-header Account information
        .form
            .row    
                label Name 
                br
                input.input.text-input(type="text", value=user.name, disabled) 
            .row    
                label Email 
                br
                input.input.text-input(type="email", value=user.email, disabled) 
            .row    
                label Account Type 
                br
                p #{user.userType}