extends ../layout
block content 
    
    - if (educator)
        h2 Your educator is: #{ educator.name }
        p Email address: #{educator.email}
        p Your educator can view your results history
        br
        button.red-button Click to remove

    -if (!educator)
        h2 Your code is: #{ user.code }
        p Give this to your educator so they can add you.
        p or
        h2 Add an educator by entering the code they provide: 
        form(action="/students/educator", method="POST")
            input.text-input(type="text", id="code", name="code") 
            button.submit-button(type="submit") Submit

    