extends ../layout
block content 
    h1.pageheader=title
    .card
        - if (educator)
            h2 Your educator is: #{ educator.name }
            p Email address: #{ educator.email }
            p Your educator can view your results history
            br
            form(action="/students/educator/remove/", method="POST")
                button.red-button(type="submit") Click to remove

        -if (!educator)
            p Educators can view your results.
            p Add an educator by entering the code they provide:
            form(action="/students/educator", method="POST")
                input.text-input(type="text", id="code", name="code") 
                button.submit-button(type="submit", style="margin: 30px; margin-top: 0px; margin-bottom: 0px;") Submit