extends ../layout
block content 
    h1.pageheader=title
    .card
        h2 Your code is: #{user.code} 
        p Add students so you can see their results.
        p Share your code with a student so they can add you as an educator.
        h2 Your students:
        table
            tr 
                th(style="width: 300px") Username 
                th(style="width: 300px") Email address 
                th(style="width: 200px") Results
                th Remove
            each student in students
                tr 
                    td #{ student.name } 
                    td #{ student.email }
                    td 
                        a(href="/results/" + student._id) View results 
                    td 
                        form(action="/students/remove/" + student._id, method="POST")
                            button.remove-button(type="submit") Remove
                

