:root {
    --links-color: #0095FF;
    --main-bg-color: #F5F5F5;
    --main-text-color: #595959;
    --heading-text-color: black;
    --navbar-bg-color: white;
    --card-bg-color: white;
    --drop-shadow-color: lightgrey;
    --footer-bg-color: #ebebeb;
    --footer-links-color: #7e7e7e;
    --footer-text-color: #6c6972;
    --button-text-color: white;
    --button-bg-color: #33343A;
    --blue-gradient: linear-gradient(#0095FF 40%, #35ABFF 99%);
    --blue-gradient-2: linear-gradient(#5de2ff, #0096FF);
}
