body {
    padding: 0;
    margin: 0;
    font: 16px "Inter", "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    max-width: 100%;
}

a {
    color: var(--links-color);
    text-decoration: none;
}

a:hover {
    opacity: 60%;
}

.pageheader {
    font-size: 48px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--heading-text-color);
}

.subheader {
    font-size: 28px;
    font-weight: 400;
    color: var(--heading-text-color);
}


.heading-text {
    color: var(--heading-text-color);
    font-family: "Inter Black", Arial, Helvetica, sans-serif;
    padding-right: 10px;
    margin-bottom: 0;
    margin-top: 0;

   
}

.warning {
    color: orangered;
    font-weight: bold;
}

.remove-button {
    background: none;
    border: none;
    color: orangered;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.remove-button:hover {
    cursor: pointer;
    opacity: 60%;
}

p {
    font-size: 18px;
    color: var(--main-text-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: left;
    align-items: left;
}

.flex-right {
    display: flex;
    justify-content: right;
    align-items: right;
}

.red-button {
    background: linear-gradient(rgb(255, 39, 24), rgb(255, 119, 0));
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px var(--drop-shadow-color));
    width: max-content;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    text-align: left;
}

/* CARD */

.card {
    background-color: var(--card-bg-color);
    filter: drop-shadow(2px 2px 2px var(--drop-shadow-color));
    border-radius: 10px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card-header {
    color: var(--heading-text-color);
}

.card-text {
    font-size: 18px;
}

/* ERROR PAGE */

.error-heading {
    color: var(--heading-text-color); 
    background: linear-gradient(rgb(255, 39, 24), rgb(255, 119, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Inter Black", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 100px; 
    margin-bottom: 0; 
}

/* FORMS */

.drop-down {
    border-radius: 5px;
    border: 1px solid var(--footer-links-color);
    padding: 10px;
    margin-top: 5px;
    background-color: var(--main-bg-color);
    width: 30%;
}

